/* Variable declarations. */

:root {
    --background-default: #fff;
    --text-color: black;
    --border: #4ba045;
}

/* Styles. */

body {
    background: var(--border);
    color: var(--text-color);
}

#container {
    padding: 10px;
    display: grid;
    grid-template-columns: 322px 78px;
    border: solid 1px var(--border);
    background: var(--background-default);
    width: 400px;
    height: auto;
}

#clock {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#interval-state, #timer {
    justify-self: center;
}

#timer {
    
}

h1 {
    font-size: 35px;
    margin: 0;
    cursor: pointer;
}

#break-buttons, #session-buttons {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    user-select: none;
}

#break-buttons p, #session-buttons p {
    margin: 0;
}


#break-subtract, #break-add, #session-subtract, #session-add {
    cursor: pointer;
}
