/* Variable declarations. */

:root {
    --background-default: #556270;
    --text-color: #fcfbe3;
    --background-session: #368b34;
    --background-break: #fab829;
}

/* Styles. */

body {
    background: var(--background-default);
    color: var(--text-color);
    transition: background 2s;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 60px 60px;
    width: 200px;
    height: auto;
}

#interval-state, #timer {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

#timer {
    height: 80px;
}

h1 {
    font-size: 40px;
    margin: 0;
    cursor: pointer;
}

#break-buttons, #session-buttons {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#break-buttons p, #session-buttons p {
    margin: 0;
}

.break {
    background-color: var(--background-break);
}

.session {
    background-color: var(--background-session);
}

.pause-text {
    animation: blinker 1.5s linear infinite;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .5s, opacity .5s linear;
}

.show {
    visibility: visible;
    opacity: 1;
    transition: opacity .5s linear;
}
